@media (max-width: 1200px) {
  .menu {
    &__link {
      font-size: 13px;
    }
    &__item {
      padding: 0 20px 0 0;
    }
  }
  .promo {
    &__header{
      font-size: 50px;
    }
  }
  .benefits{
    .reasons__item {
      align-items: flex-start;
      .reasons__text{
        width: 300px;
      }
    }
  }
  .mobile{
    &__item{
      width: 300px;
    }
  }
  .footer{
    &__wrapper{
      .navigation{
        .sub_navigation{
          a{
            margin-right: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 991px){
  .menu {
    &__item {
      padding: 0 8px 0 0;
    }
    &__link {
      font-size: 10px;
    }
  }
  .subheader{
    &__link img{
      width: 100%;
    }
    &__text{
      font-size: 10px;
    }
    &__phone{
      font-size: 19px;
    }
    &__btn {
      width: 100%;
      height: 40px;
    }
  }
  .promo {
    &__header{
      font-size: 40px;
    }
    &__subheader{
      font-size: 30px;
    }
  }
  .benefits{
    .reasons__item{
      flex-direction: column;
      align-items: center;
      .reasons__img{
        margin-bottom: 20px;
      }
    }
  }
}
@media (max-width: 767px){

  .menu{
    padding: 20px 15px;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    transition: 0.5s all ease-in;
    &__active{
      left: 0;
    }
    &__item{
      padding-right: 0;
      border: none;
      margin: 10px 0;
    }
    &__link{
      font-size: 18px;
    }
  }
  .hamburger{
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 12px;
    span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #fff;
      margin-bottom: 3px;
      transition: 0.5s all ease;
    }
    &__active{
      span{
        margin-bottom: -2px;
        &:first-child{
          transform: translateY(3px) rotate(-45deg);
        }
        &:nth-child(2){
          display: none;
        }
        &:nth-child(3){
          transform: translateY(3px) rotate(45deg);
        }
      }
    }
  }
  .xs-hidden{
    display: none;
  }
  .xs-visible{
    display: block;
  }
  .subheader{
    &__link img{
      margin: 20px 0 0 0;
    }
    &__phone{
      font-weight: 400;
      display: block;
      margin-top: 10px;
      font-size: 16px;
      text-align: center;
    }
    &__btn{
      width: 200px;
      display: block;
      margin: 10px auto 0 auto;
    }
  }
  .promo {
    &__header {
      line-height: 45px;
    }
  }
  .benefits{
    .reasons__item{
      .reasons__img{
        margin: 0;
      }
    }
  }

}
@media (max-width: 575px){
  nav{
    height: 30px;
  }
  header{
    height: 30px;
  }
  .menu{
    width: 70%;
    align-items: flex-start;
    &__link{
      font-size: 15px;
      display: inline-block;
    }
    &__item{
      width: 100%;
      padding: 5px 0;
    }
  }
  .subheader {
    top: 30px;
    min-height: 60px;
    &__text{
      display: none;
    }
    &__link img {
      margin-top: 27px;
    }
    &__phone{
      font-size: 15px;
    }
    &__btn{
      width: 110px;
      height: 22px;
      font-size: 10px;
      margin: 6px 0 0 10px;

    }
  }
  .promo {
    min-height: 400px;
    padding: 133px 0 35px 0;
    &__header {
      line-height: 35px;
      padding: 0 24px;
      font-size: 35px;
    }
    &__subheader{
      font-size: 20px;
      margin: 33px 0 0 0;
      padding: 0 10px;
      line-height: 30px;
    }
    &__descr{
      display: none;
    }
    &__btn{
      margin: 73px auto 0 auto;
      width: 210px;
      height: 50px;
    }
  }
  .benefits{
    padding: 22px 0 35px 0;
    .reasons__item{
      margin-top: 26px;
      .reasons__img{
        width: 100px;
        height: 100px;
        margin: 0 0 24px 0;
      }
      .reasons__text{
        width: 250px;
      }
      .reasons__text__title{
        font-size: 16px;
      }
    }
    .title{
      font-size: 16px;
      margin-top: 15px;
      line-height: 16px;
    }
  }
  .mobile{
    padding: 25px 12px 43px 12px;
    .title{
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
    }
    .subtitle{
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
    }
    &__item{
      max-width: 230px;
      height: 290px;
      &_subtitle{
        font-weight: 400;
        font-size: 18px;
        line-height: 31px;
      }
    }
  }
  .choice{
    padding: 25px 0 33px 0;
    min-height: 390px;
    background: #000;
    .black{
      display: none;
    }
    &_descr {
      font-weight: 300;
      font-size: 17px;
      line-height: 24px;
      color: #fff;
    }
    &_img{
      max-width: 240px;
      margin: 35px auto 0  auto;
    }
    .title{
      display: none;
    }
    .subtitle{
      display: none;
    }
  }
  .require{
    padding: 22px 15px 30px 15px;
    .title{
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      margin-top: 14px;
    }
    &__title{
      font-size: 16px;
      line-height: 24px;
    }
  }
  .around_the_world{
    height: 360px;
    .title{
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
    }
    .small-hidden{
      display: none;
    }
    .lg-hidden{
      display: block;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
    }
    .info__wrapper{
      .city__list{
        font-size: 15px;
        display: block;
        margin: 0 auto;
        width: 200px;
        bottom: 30px;
        line-height: 15px;
      }
    }
  }
  .footer {
    height: 260px;
    max-width: 310px;
    margin: 0 auto;
    padding: 15px;
    &__wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .div_col {
        width: 100%;
      }
      .social {
        order: 2;
        justify-content: center;
        margin-bottom: 20px;
      }
      .navigation{
        order: 1;
        margin-bottom: 20px;
        .main__navigation{
          &:before{
            width: 80%;
          }
          a{
            font-size: 13px;
          }
        }
      }
      .store{
        order: 3;
        margin-bottom: 20px;
        justify-content: center;
        &__item{
          max-width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
